<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title - My ASP.NET Application</title>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/examples.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Crete+Round|Roboto" rel="stylesheet">

    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/favicon.ico")" />
</head>
<body style="background-image:url(../../img/intro-background.jpg); background-repeat: no-repeat; background-size:cover; background-attachment: fixed;">

    @*<div class="container-fluid" style="z-index:999; position:fixed;">
        <div class="row d-flex d-md-block flex-nowrap wrapper">
            <div class="col-lg-1 float-left col-1 pl-0 pr-0 collapse width show hld" id="sidebar">
                <div class="list-group border-0 text-center text-lg-left">
                    <div class="row" style="color:white;">
                        <a class="" href="~/Home/Index">
                            <div class="col"></div>
                            <div class="col">
                                <img alt="Brand" src="~/img/Logo.png" class="center-block" id="logo" style="width:40px; display:inline">

                            </div>
                            <div class="col"></div>
                        </a>
                    </div>
                    @if (User.IsInRole("Graduate"))
                    {
                        <a href="~/Home/Index" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-home" aria-hidden="true"></i><span class="hidden-md-down">Dashboard</span></a>
                        <a href="~/Managers/Graduate" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-user-circle" varia-hidden="true"></i><span class="hidden-md-down">View Managers</span></a>
                        <a href="~/Areas/Graduate" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-info" aria-hidden="true"></i><span class="hidden-md-down">View Areas</span></a>
                        <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-md-down">Projects</span></a>
                        <div class="collapse" id="menu3">
                            <a href="#" class="list-group-item" data-parent="#menu3">View Available Project</a>
                            <a href="#" class="list-group-item" data-parent="#menu3">Join a Project</a>
                            <a href="#" class="list-group-item" data-parent="#menu3">View Current Project</a>
                        </div>
                    }
                    @if (User.IsInRole("Manager"))
                    {
                        <a href="~/Home/Index" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><span class="hidden-md-down">Dashboard</span></a>
                        <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-md-down">Graduates</span></a>
                        <div class="collapse" id="menu1">
                            <a href="#" class="list-group-item" data-parent="#menu3">View All Graduates</a>
                            <a href="#" class="list-group-item" data-parent="#menu3">Graduates in my Area</a>
                        </div>
                        <a href="~/Areas/Graduate" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><span class="hidden-md-down">View Areas</span></a>
                        <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse" data-parent="#sidebar" aria-expanded="false"><i class="fa fa-book"></i> <span class="hidden-md-down">Projects</span></a>
                        <div class="collapse" id="menu3">
                            <a href="#" class="list-group-item" data-parent="#menu3">View My Project</a>
                            <a href="#" class="list-group-item" data-parent="#menu3">View All Projects</a>
                            <a href="#" class="list-group-item" data-parent="#menu3">Create New Project</a>
                            <a href="#" class="list-group-item" data-parent="#menu3">View Terminated Project</a>
                        </div>
                    }
                </div>
            </div>
            <div class="col-lg-1 float-left col-1 pl-0 pr-0 collapse width show hld">
                <a href="#" data-target="#sidebar" class="arrw" data-toggle="collapse" style="position:relative;"><i id="clicks" class="fa fa-angle-double-left fa-2x py-2 p-1" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>*@

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded" style="z-index:999; position:fixed; width:100%; opacity:0.95;">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#"><img alt="GradApp" src="~/img/Logo.png" style="width:40px;"></a>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto">
                @if (User.IsInRole("Graduate"))
                {
                    <li class="nav-item">
                        <a class="nav-link active" href="~/Home/Graduate">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Managers/Graduate">Managers</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Areas/Graduate">Areas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="~/Rotations/Graduate">Rotations</a>
                    </li>
                }
                @if (User.IsInRole("Manager"))
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Dropdown link
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                }
            </ul>
            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                <li class="nav-item">
                    <a class="nav-link" href="~/Account/SignOut">Sign Out</a>
                </li>
                }
                @if (!User.Identity.IsAuthenticated)
                {
                <li class="nav-item">
                    <a class="nav-link" href="~/Account/SignIn">Sign In</a>
                </li>
                }
            </ul>
        </div>
    </nav>
    
    <div class="container-fluid" style="padding-top: 60px; font-family: 'Roboto', sans-serif;">
        @RenderBody()
    </div>
</body>
</html>

