
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Woops...</h3>

<img class="image" src="https://danwoodger.com/assets/images/error-page-illustration.png" style="visibility: visible;width: 100%;">