
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Woops...</h2>

<img class="image" src="../../img//error-page-illustration.png" style="visibility: visible; width: 100%;">